.dialPad {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #312b69;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.display {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: right;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.button {
  width: 74%;
  padding: 16px 0;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  background-color: #4b437c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
}

.button_label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.letters {
  font-size: 8px;
}

.button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 5%;
  left: -21px;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.crossIconContainer {
  display: flex;
  justify-content: flex-end;
}

.cross {
  font-size: 10px;
  cursor: pointer;
}

.contactList {
  margin-top: 70px;
  width: 88%;
  position: absolute;
}

.contactItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  color: black;
  cursor: pointer;
}

.name {
  font-size: 12px;
  color: #ffffff;
}

.labelTemplate {
  font-size: 10px;
  color: #ffffff;
}

.callConnect {
  display: flex;
  justify-content: center;
}

.selectedCalling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.numberSelect {
  font-size: 13px;
  color: white;
}
.nameSelect {
  font-size: 25px;
  color: white;
}
